# .NET
bin/
obj/
*.user
*.suo
*.db
*.sqlite
*.sqlite3

# Visual Studio
.vscode/
*.csproj.user

# Logs
*.log

# npm
node_modules/
dist/
.env

# Build output
csv-importer-ui/build/
csv-importer-ui/dist/
csv-importer-ui/node_modules/
